@use "../../functions" as fnc;

.navbar {
  width: min(100%, fnc.rem(1440));
  min-height: fnc.rem(64);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;

  &__logo {
    display: block;
    width: fnc.rem(110);
    height: auto;
  }

  &__toggle {
    background: transparent;
    appearance: none;
    border: none;
    width: fnc.rem(25);
    height: fnc.rem(18);
    padding: 0;

    span {
      display: block;
      background-color: var(--color-neutral-700);
      height: fnc.rem(4);
      width: fnc.rem(25);
      transform-origin: fnc.rem(3);
      transition: all 350ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: fnc.rem(3);
      }
    }

    &.open {
      span {
        &:first-child {
          transform: rotate(48deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-48deg);
        }
      }
    }
  }

  .overlay {
    position: absolute;
    left: fnc.rem(-24);
    top: 0;
    width: 200vw;
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.5); //change to gradient
  }

  .mobile_menu {
    position: absolute;
    left: 0;
    top: fnc.rem(103);
    width: 100%;
    background-color: var(--color-neutral-100);
    padding-block: 1.5rem;
    border-radius: fnc.rem(3);

    &__links {
      text-align: center;
      font-weight: 700;
      color: var(--color-primary-200);
    }

    &__link {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
