@use "../../functions" as fnc;

.navbar {
  width: min(100%, fnc.rem(1440));
  min-height: fnc.rem(64);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-inline: fnc.rem(24);

  &__logo {
    display: block;
    width: fnc.rem(110);
    height: auto;
  }

  &__toggle {
    background: transparent;
    appearance: none;
    border: none;
    width: fnc.rem(25);
    height: fnc.rem(18);
    padding: 0;

    span {
      display: block;
      background-color: var(--color-neutral-700);
      height: fnc.rem(4);
      width: fnc.rem(25);
      transform-origin: fnc.rem(3);
      transition: all 350ms ease-in-out;

      &:not(:last-child) {
        margin-bottom: fnc.rem(3);
      }
    }

    &.open {
      span {
        &:first-child {
          transform: rotate(48deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-48deg);
        }
      }
    }
  }
}
