@use "../../functions" as fnc;

.features {
  margin-top: fnc.rem(103);

  &__heading {
    font-size: fnc.rem(33);
    font-weight: 700;
    text-align: center;
    color: var(--color-primary-200);
    letter-spacing: fnc.rem(-2);
    padding-inline: fnc.rem(24);
  }

  &__text {
    margin-top: 1rem;
    text-align: center;
    color: var(--color-neutral-300);
    font-size: fnc.rem(15);
    line-height: 1.7;
    padding-inline: fnc.rem(24);
  }

  &__list {
    margin-top: fnc.rem(60);
    padding-inline: fnc.rem(12);
    &_item {
      &:not(:last-child) {
        margin-bottom: fnc.rem(40);
      }
    }
  }

  &__card {
    &_header {
      display: flex;
      align-items: center;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: fnc.rem(39);
        background-color: var(--color-neutral-200);
        position: absolute;
        z-index: -1;
        left: fnc.rem(33);
      }
    }

    &_number {
      width: fnc.rem(66);
      margin-right: fnc.rem(8);
      padding: fnc.rem(9) fnc.rem(24);
      color: var(--color-neutral-100);
      background-color: var(--color-primary-100);
      border-radius: fnc.rem(22);
    }

    &_title {
      font-weight: 700;
      color: var(--color-primary-200);
      letter-spacing: fnc.rem(-1);
    }

    &_text {
      margin-top: fnc.rem(10);
      color: var(--color-neutral-300);
      font-size: fnc.rem(14);
      line-height: 2;
      // letter-spacing: fnc.rem();
    }
  }
}
