@use "../../functions" as fnc;

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    font-size: fnc.rem(32);
    font-weight: 700;
    text-align: center;
    color: var(--color-primary-200);
    letter-spacing: fnc.rem(-1);
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: var(--color-neutral-100);
    padding-inline: fnc.rem(20);
    &_avatar {
      height: fnc.rem(72);
      width: auto;
    }

    &_name {
      font-weight: 700;
      color: var(--color-primary-200);
    }

    &_text {
      text-align: center;
      font-size: fnc.rem(14);
      color: var(--color-neutral-300);
      line-height: 2;
    }
  }

  &__indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: fnc.rem(20);

    span {
      display: block;
      background-color: var(--color-primary-100);
      width: fnc.rem(10);
      height: fnc.rem(10);
      border-radius: 50%;
    }
  }

  &__cta {
    border: none;
    border-radius: fnc.rem(22);
    font-weight: 700;
    margin-top: fnc.rem(40);
    width: fnc.rem(137);
    padding: fnc.rem(14);
    color: var(--color-neutral-200);
    background-color: var(--color-primary-100);
    box-shadow: fnc.rem(0) fnc.rem(5) fnc.rem(10) hsla(12, 88%, 59%, 0.75);
  }
}
