@use "./functions" as fnc;

:root {
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  --dark-grayish-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);

  --body-font-size: 1rem;

  --color-primary-100: var(--bright-red);
  --color-primary-200: var(--dark-blue);

  --color-neutral-100: var(--very-light-gray);
  --color-neutral-200: var(--very-pale-red);
  --color-neutral-300: var(--dark-grayish-blue);
  --color-neutral-700: var(--very-dark-blue);

  --body-font: "Be Vietnam Pro", sans-serif;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.1;
  font-size: var(--body-font-size);
  font-family: var(--body-font);
}

//Visibility
.hide-for-mobile {
  //hide for tablet or mobile
  @include fnc.breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop or laptop
  @include fnc.breakpoint-up(large) {
    display: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}
